<% include ../views/partials/header %>

<div class="container">
    <h1>Twitch Streamers</h1>
    <table class="table">
        <tr>
            <td><img src="https://avatars0.githubusercontent.com/u/9892522?v=3&s=280" alt="HTML5 Icon" style="width:56px;height:56px;"></td>
            <td><a href="https://www.twitch.tv/freecodecamp" target="_blank">FreeCodeCamp</a></td>
            <td id="freecodecamp">Offline</td>
        </tr>
        <tr>
            <td><img src="https://static-cdn.jtvnw.net/jtv_user_pictures/ogamingsc2-profile_image-9021dccf9399929e-300x300.jpeg" alt="HTML5 Icon" style="width:56px;height:56px;"></td>
            <td><a href="https://www.twitch.tv/OgamingSC2" target="_blank">OgamingSC2</a></td>
            <td id="OgamingSC2">Offline</td>
        </tr>
        <tr>
            <td><img src="https://static-cdn.jtvnw.net/jtv_user_pictures/cretetion-profile_image-12bae34d9765f222-300x300.jpeg" alt="HTML5 Icon" style="width:56px;height:56px;"></td>
            <td><a href="https://www.twitch.tv/cretetion" target="_blank">cretetion</a></td>
            <td id="cretetion">Offline</td>
        </tr>
        <tr>
            <td><img src="https://static-cdn.jtvnw.net/jtv_user_pictures/cretetion-profile_image-12bae34d9765f222-300x300.jpeg" alt="HTML5 Icon" style="width:56px;height:56px;"></td>
            <td><a href="https://www.twitch.tv/brunofin" target="_blank">brunofin</a></td>
            <td id="brunofin">Offline</td>
        </tr>
    </table>
</div>


<% include ../views/partials/footer %>
